:root {
 /*Primary*/
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/*Neutral*/
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

body{
    margin: 0;
    background-color: var(--Pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

p{
    font-size: 16px;
    color: var(--Desaturated-blue);
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0em;
}

.card-body{
    min-width: 310px;
    max-width: 330px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 15px 15px hsl(243, 100%, 92%);
}

.illustration img{
    min-width: 100%;
    max-width: 41%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.order-container{
    margin: 0em 2em;
}

.order-container h1 {
    margin: 1em 0em 0.7em 0em;
    font-size: 1.4em;
    color: var(--Dark-blue);
    font-weight: 900;
}

.order-container p{
    margin-bottom: 2em;
    line-height: 1.5em;
}

.plan{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.bg {
    background-color:  hsla(225, 100%, 94%, 0.295);
}

.plan img{
    width: 50px;
    padding-right: 1.2em;
}

.anual-plan .first{
    margin-bottom: -0.9em;
    font-weight: 900;
    color: var(--Dark-blue);
}

.anual-plan p{
    font-size: 15px;
    padding-right: 1em;
}

.plan a{
    padding-left: 2.5em;
    font-weight: bolder;
    font-size: 13px;
    color: var(--Bright-blue);
}

.plan a:hover{
    text-decoration: none;
}

.btn {
    background-color: var(--Bright-blue);
    padding: 0.8em;
    width: 78%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 15px 15px hsl(243, 100%, 93%);
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn a{
    color: var(--Very-pale-blue);
    text-decoration: none;
    font-weight: bold;
}

.cancel{
    padding-bottom: 2em;
    padding-top: 1.5em;
}

.cancel a{
    color: var(--Desaturated-blue);
    font-weight: 900;
    text-decoration: none;
}

.cancel a:hover{
color: var(--Dark-blue);
}

/*Break point for desktop*/

@media only screen and (min-width: 800px) and (max-width: 2000px) {

    body{
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    p{
        font-size: 14px
    }

    a{
        font-size: 13px
    }

    .main-container{
        padding: 8.5em 0em;
    }

    .card-body{
        max-width: 430px;
        border-radius: 15px;
    }

    .illustration img{
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .order-container{
        margin: 0em 4em;
    }

    .order-container h1 {
        font-size: 1.5em; 
        margin: 1.5em 0em 0.7em 0em;
    }

    .order-container p{
        margin-bottom: 1.3em;
    }

    .plan{
        margin-right: 2.8em;
        margin-left: 2.8em;  
        padding: 0.5em 0em;
        margin-bottom: 1.9em;
    }

    .plan img{
        width: 45px;
        padding-right: 1em;
    }

    .anual-plan .first{
        margin-bottom: -0.6em;
    }

    .anual-plan{
        padding-right: 4.5em;
    }

    .anual-plan p{
        padding-right: 0em;
    }

    .btn{
        width: 74%;
        padding: 0.7em;
    }

    .cancel{
        padding-top: 1.5em;
        padding-bottom: 2.5em;
    }
    
}
